<form>
    <div>
        <h1>Blood Bank</h1>
    </div>
    <div>
        <label for="name">Name</label>&nbsp;
        <input type="text" name="" id="">
    </div>
    <br>


    <div>
        <label for="age">Age</label>&nbsp;
        <input type="text" name="" id="">
    </div>
    <br>

    <div>
        <label for="donor or acceptor">Donor/Acceptor </label>&nbsp;
        <select name="" id="">
            <option value="Doner">Doner</option> 
            <option value="Acceptor">Acceptor</option>
        </select>
    </div>
    <br>
    <div>
        <label for="Blood group">Blood Group</label>&nbsp;
        <input type="text" name="" id="">
    </div>
    <br>


    <div>
        <label for="Email id">Email Address</label>&nbsp;
        <input type="email" name="" id="">
    </div>
    <br>

    <div>
        <label for="password">password</label>&nbsp;&nbsp;&nbsp;
        <input type="password" name="" id="">
        </div>
        <br>


        <div >
            <button id="btn" type="submit">Register</button>&nbsp;
        </div>
        </form>